#include "svg.h"
#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif
#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE DISCARDABLE
BEGIN
    "svg.h\0"
END
2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END
3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END
#endif


IDI_PLANA_AC               ICON    DISCARDABLE     "group\IDI_PLANA_AC.ico"
IDI_PLANA_AD               ICON    DISCARDABLE     "group\IDI_PLANA_AD.ico"
IDI_PLANA_AE               ICON    DISCARDABLE     "group\IDI_PLANA_AE.ico"
IDI_PLANA_AF               ICON    DISCARDABLE     "group\IDI_PLANA_AF.ico"
IDI_PLANA_AG               ICON    DISCARDABLE     "group\IDI_PLANA_AG.ico"
IDI_PLANA_AI               ICON    DISCARDABLE     "group\IDI_PLANA_AI.ico"
IDI_PLANA_AL               ICON    DISCARDABLE     "group\IDI_PLANA_AL.ico"
IDI_PLANA_AM               ICON    DISCARDABLE     "group\IDI_PLANA_AM.ico"
IDI_PLANA_AO               ICON    DISCARDABLE     "group\IDI_PLANA_AO.ico"
IDI_PLANA_AQ               ICON    DISCARDABLE     "group\IDI_PLANA_AQ.ico"
IDI_PLANA_AR               ICON    DISCARDABLE     "group\IDI_PLANA_AR.ico"
IDI_PLANA_ARAB               ICON    DISCARDABLE     "group\IDI_PLANA_ARAB.ico"
IDI_PLANA_AS               ICON    DISCARDABLE     "group\IDI_PLANA_AS.ico"
IDI_PLANA_AT               ICON    DISCARDABLE     "group\IDI_PLANA_AT.ico"
IDI_PLANA_AU               ICON    DISCARDABLE     "group\IDI_PLANA_AU.ico"
IDI_PLANA_AW               ICON    DISCARDABLE     "group\IDI_PLANA_AW.ico"
IDI_PLANA_AX               ICON    DISCARDABLE     "group\IDI_PLANA_AX.ico"
IDI_PLANA_AZ               ICON    DISCARDABLE     "group\IDI_PLANA_AZ.ico"
IDI_PLANA_BA               ICON    DISCARDABLE     "group\IDI_PLANA_BA.ico"
IDI_PLANA_BB               ICON    DISCARDABLE     "group\IDI_PLANA_BB.ico"
IDI_PLANA_BD               ICON    DISCARDABLE     "group\IDI_PLANA_BD.ico"
IDI_PLANA_BE               ICON    DISCARDABLE     "group\IDI_PLANA_BE.ico"
IDI_PLANA_BF               ICON    DISCARDABLE     "group\IDI_PLANA_BF.ico"
IDI_PLANA_BG               ICON    DISCARDABLE     "group\IDI_PLANA_BG.ico"
IDI_PLANA_BH               ICON    DISCARDABLE     "group\IDI_PLANA_BH.ico"
IDI_PLANA_BI               ICON    DISCARDABLE     "group\IDI_PLANA_BI.ico"
IDI_PLANA_BJ               ICON    DISCARDABLE     "group\IDI_PLANA_BJ.ico"
IDI_PLANA_BL               ICON    DISCARDABLE     "group\IDI_PLANA_BL.ico"
IDI_PLANA_BM               ICON    DISCARDABLE     "group\IDI_PLANA_BM.ico"
IDI_PLANA_BN               ICON    DISCARDABLE     "group\IDI_PLANA_BN.ico"
IDI_PLANA_BO               ICON    DISCARDABLE     "group\IDI_PLANA_BO.ico"
IDI_PLANA_BQ               ICON    DISCARDABLE     "group\IDI_PLANA_BQ.ico"
IDI_PLANA_BR               ICON    DISCARDABLE     "group\IDI_PLANA_BR.ico"
IDI_PLANA_BS               ICON    DISCARDABLE     "group\IDI_PLANA_BS.ico"
IDI_PLANA_BT               ICON    DISCARDABLE     "group\IDI_PLANA_BT.ico"
IDI_PLANA_BV               ICON    DISCARDABLE     "group\IDI_PLANA_BV.ico"
IDI_PLANA_BW               ICON    DISCARDABLE     "group\IDI_PLANA_BW.ico"
IDI_PLANA_BY               ICON    DISCARDABLE     "group\IDI_PLANA_BY.ico"
IDI_PLANA_BZ               ICON    DISCARDABLE     "group\IDI_PLANA_BZ.ico"
IDI_PLANA_CA               ICON    DISCARDABLE     "group\IDI_PLANA_CA.ico"
IDI_PLANA_CC               ICON    DISCARDABLE     "group\IDI_PLANA_CC.ico"
IDI_PLANA_CD               ICON    DISCARDABLE     "group\IDI_PLANA_CD.ico"
IDI_PLANA_CEFTA               ICON    DISCARDABLE     "group\IDI_PLANA_CEFTA.ico"
IDI_PLANA_CF               ICON    DISCARDABLE     "group\IDI_PLANA_CF.ico"
IDI_PLANA_CG               ICON    DISCARDABLE     "group\IDI_PLANA_CG.ico"
IDI_PLANA_CH               ICON    DISCARDABLE     "group\IDI_PLANA_CH.ico"
IDI_PLANA_CI               ICON    DISCARDABLE     "group\IDI_PLANA_CI.ico"
IDI_PLANA_CK               ICON    DISCARDABLE     "group\IDI_PLANA_CK.ico"
IDI_PLANA_CL               ICON    DISCARDABLE     "group\IDI_PLANA_CL.ico"
IDI_PLANA_CM               ICON    DISCARDABLE     "group\IDI_PLANA_CM.ico"
IDI_PLANA_CN               ICON    DISCARDABLE     "group\IDI_PLANA_CN.ico"
IDI_PLANA_CO               ICON    DISCARDABLE     "group\IDI_PLANA_CO.ico"
IDI_PLANA_CP               ICON    DISCARDABLE     "group\IDI_PLANA_CP.ico"
IDI_PLANA_CR               ICON    DISCARDABLE     "group\IDI_PLANA_CR.ico"
IDI_PLANA_CU               ICON    DISCARDABLE     "group\IDI_PLANA_CU.ico"
IDI_PLANA_CV               ICON    DISCARDABLE     "group\IDI_PLANA_CV.ico"
IDI_PLANA_CW               ICON    DISCARDABLE     "group\IDI_PLANA_CW.ico"
IDI_PLANA_CX               ICON    DISCARDABLE     "group\IDI_PLANA_CX.ico"
IDI_PLANA_CY               ICON    DISCARDABLE     "group\IDI_PLANA_CY.ico"
IDI_PLANA_CZ               ICON    DISCARDABLE     "group\IDI_PLANA_CZ.ico"
IDI_PLANA_DE               ICON    DISCARDABLE     "group\IDI_PLANA_DE.ico"
IDI_PLANA_DG               ICON    DISCARDABLE     "group\IDI_PLANA_DG.ico"
IDI_PLANA_DJ               ICON    DISCARDABLE     "group\IDI_PLANA_DJ.ico"
IDI_PLANA_DK               ICON    DISCARDABLE     "group\IDI_PLANA_DK.ico"
IDI_PLANA_DM               ICON    DISCARDABLE     "group\IDI_PLANA_DM.ico"
IDI_PLANA_DO               ICON    DISCARDABLE     "group\IDI_PLANA_DO.ico"
IDI_PLANA_DZ               ICON    DISCARDABLE     "group\IDI_PLANA_DZ.ico"
IDI_PLANA_EAC               ICON    DISCARDABLE     "group\IDI_PLANA_EAC.ico"
IDI_PLANA_EC               ICON    DISCARDABLE     "group\IDI_PLANA_EC.ico"
IDI_PLANA_EE               ICON    DISCARDABLE     "group\IDI_PLANA_EE.ico"
IDI_PLANA_EG               ICON    DISCARDABLE     "group\IDI_PLANA_EG.ico"
IDI_PLANA_EH               ICON    DISCARDABLE     "group\IDI_PLANA_EH.ico"
IDI_PLANA_ER               ICON    DISCARDABLE     "group\IDI_PLANA_ER.ico"
IDI_PLANA_ES               ICON    DISCARDABLE     "group\IDI_PLANA_ES.ico"
IDI_PLANA_ES_CT               ICON    DISCARDABLE     "group\IDI_PLANA_ES_CT.ico"
IDI_PLANA_ES_GA               ICON    DISCARDABLE     "group\IDI_PLANA_ES_GA.ico"
IDI_PLANA_ES_PV               ICON    DISCARDABLE     "group\IDI_PLANA_ES_PV.ico"
IDI_PLANB_MK               ICON    DISCARDABLE     "group\IDI_PLANB_MK.ico"
IDI_PLANB_ML               ICON    DISCARDABLE     "group\IDI_PLANB_ML.ico"
IDI_PLANB_MM               ICON    DISCARDABLE     "group\IDI_PLANB_MM.ico"
IDI_PLANB_MN               ICON    DISCARDABLE     "group\IDI_PLANB_MN.ico"
IDI_PLANB_MO               ICON    DISCARDABLE     "group\IDI_PLANB_MO.ico"
IDI_PLANB_MP               ICON    DISCARDABLE     "group\IDI_PLANB_MP.ico"
IDI_PLANB_MQ               ICON    DISCARDABLE     "group\IDI_PLANB_MQ.ico"
IDI_PLANB_MR               ICON    DISCARDABLE     "group\IDI_PLANB_MR.ico"
IDI_PLANB_MS               ICON    DISCARDABLE     "group\IDI_PLANB_MS.ico"
IDI_PLANB_MT               ICON    DISCARDABLE     "group\IDI_PLANB_MT.ico"
IDI_PLANB_MU               ICON    DISCARDABLE     "group\IDI_PLANB_MU.ico"
IDI_PLANB_MV               ICON    DISCARDABLE     "group\IDI_PLANB_MV.ico"
IDI_PLANB_MW               ICON    DISCARDABLE     "group\IDI_PLANB_MW.ico"
IDI_PLANB_MX               ICON    DISCARDABLE     "group\IDI_PLANB_MX.ico"
IDI_PLANB_MY               ICON    DISCARDABLE     "group\IDI_PLANB_MY.ico"
IDI_PLANB_MZ               ICON    DISCARDABLE     "group\IDI_PLANB_MZ.ico"
IDI_PLANB_NA               ICON    DISCARDABLE     "group\IDI_PLANB_NA.ico"
IDI_PLANB_NC               ICON    DISCARDABLE     "group\IDI_PLANB_NC.ico"
IDI_PLANB_NE               ICON    DISCARDABLE     "group\IDI_PLANB_NE.ico"
IDI_PLANB_NF               ICON    DISCARDABLE     "group\IDI_PLANB_NF.ico"
IDI_PLANB_NG               ICON    DISCARDABLE     "group\IDI_PLANB_NG.ico"
IDI_PLANB_NI               ICON    DISCARDABLE     "group\IDI_PLANB_NI.ico"
IDI_PLANB_NL               ICON    DISCARDABLE     "group\IDI_PLANB_NL.ico"
IDI_PLANB_NO               ICON    DISCARDABLE     "group\IDI_PLANB_NO.ico"
IDI_PLANB_NP               ICON    DISCARDABLE     "group\IDI_PLANB_NP.ico"
IDI_PLANB_NR               ICON    DISCARDABLE     "group\IDI_PLANB_NR.ico"
IDI_PLANB_NU               ICON    DISCARDABLE     "group\IDI_PLANB_NU.ico"
IDI_PLANB_NZ               ICON    DISCARDABLE     "group\IDI_PLANB_NZ.ico"
IDI_PLANB_OM               ICON    DISCARDABLE     "group\IDI_PLANB_OM.ico"
IDI_PLANB_PA               ICON    DISCARDABLE     "group\IDI_PLANB_PA.ico"
IDI_PLANB_PE               ICON    DISCARDABLE     "group\IDI_PLANB_PE.ico"
IDI_PLANB_PF               ICON    DISCARDABLE     "group\IDI_PLANB_PF.ico"
IDI_PLANB_PG               ICON    DISCARDABLE     "group\IDI_PLANB_PG.ico"
IDI_PLANB_PH               ICON    DISCARDABLE     "group\IDI_PLANB_PH.ico"
IDI_PLANB_PK               ICON    DISCARDABLE     "group\IDI_PLANB_PK.ico"
IDI_PLANB_PL               ICON    DISCARDABLE     "group\IDI_PLANB_PL.ico"
IDI_PLANB_PM               ICON    DISCARDABLE     "group\IDI_PLANB_PM.ico"
IDI_PLANB_PN               ICON    DISCARDABLE     "group\IDI_PLANB_PN.ico"
IDI_PLANB_PR               ICON    DISCARDABLE     "group\IDI_PLANB_PR.ico"
IDI_PLANB_PS               ICON    DISCARDABLE     "group\IDI_PLANB_PS.ico"
IDI_PLANB_PT               ICON    DISCARDABLE     "group\IDI_PLANB_PT.ico"
IDI_PLANB_PW               ICON    DISCARDABLE     "group\IDI_PLANB_PW.ico"
IDI_PLANB_PY               ICON    DISCARDABLE     "group\IDI_PLANB_PY.ico"
IDI_PLANB_QA               ICON    DISCARDABLE     "group\IDI_PLANB_QA.ico"
IDI_PLANB_RE               ICON    DISCARDABLE     "group\IDI_PLANB_RE.ico"
IDI_PLANB_RO               ICON    DISCARDABLE     "group\IDI_PLANB_RO.ico"
IDI_PLANB_RS               ICON    DISCARDABLE     "group\IDI_PLANB_RS.ico"
IDI_PLANB_RU               ICON    DISCARDABLE     "group\IDI_PLANB_RU.ico"
IDI_PLANB_RW               ICON    DISCARDABLE     "group\IDI_PLANB_RW.ico"
IDI_PLANB_SA               ICON    DISCARDABLE     "group\IDI_PLANB_SA.ico"
IDI_PLANB_SB               ICON    DISCARDABLE     "group\IDI_PLANB_SB.ico"
IDI_PLANB_SC               ICON    DISCARDABLE     "group\IDI_PLANB_SC.ico"
IDI_PLANB_SD               ICON    DISCARDABLE     "group\IDI_PLANB_SD.ico"
IDI_PLANB_SE               ICON    DISCARDABLE     "group\IDI_PLANB_SE.ico"
IDI_PLANB_SG               ICON    DISCARDABLE     "group\IDI_PLANB_SG.ico"
IDI_PLANB_SH               ICON    DISCARDABLE     "group\IDI_PLANB_SH.ico"
IDI_PLANB_SI               ICON    DISCARDABLE     "group\IDI_PLANB_SI.ico"
IDI_PLANB_SJ               ICON    DISCARDABLE     "group\IDI_PLANB_SJ.ico"
IDI_PLANB_SK               ICON    DISCARDABLE     "group\IDI_PLANB_SK.ico"
IDI_PLANB_SL               ICON    DISCARDABLE     "group\IDI_PLANB_SL.ico"
IDI_PLANB_SM               ICON    DISCARDABLE     "group\IDI_PLANB_SM.ico"
IDI_PLANB_SN               ICON    DISCARDABLE     "group\IDI_PLANB_SN.ico"
IDI_PLANB_SO               ICON    DISCARDABLE     "group\IDI_PLANB_SO.ico"
IDI_PLANB_SR               ICON    DISCARDABLE     "group\IDI_PLANB_SR.ico"
IDI_PLANB_SS               ICON    DISCARDABLE     "group\IDI_PLANB_SS.ico"
IDI_PLANB_ST               ICON    DISCARDABLE     "group\IDI_PLANB_ST.ico"
IDI_PLANB_SV               ICON    DISCARDABLE     "group\IDI_PLANB_SV.ico"
IDI_PLANB_SX               ICON    DISCARDABLE     "group\IDI_PLANB_SX.ico"
IDI_PLANB_SY               ICON    DISCARDABLE     "group\IDI_PLANB_SY.ico"
IDI_PLANB_SZ               ICON    DISCARDABLE     "group\IDI_PLANB_SZ.ico"
IDI_PLANB_TA               ICON    DISCARDABLE     "group\IDI_PLANB_TA.ico"
IDI_PLANB_TC               ICON    DISCARDABLE     "group\IDI_PLANB_TC.ico"
IDI_PLANB_TD               ICON    DISCARDABLE     "group\IDI_PLANB_TD.ico"
IDI_PLANB_TF               ICON    DISCARDABLE     "group\IDI_PLANB_TF.ico"
IDI_PLANB_TG               ICON    DISCARDABLE     "group\IDI_PLANB_TG.ico"
IDI_PLANB_TH               ICON    DISCARDABLE     "group\IDI_PLANB_TH.ico"
IDI_PLANB_TJ               ICON    DISCARDABLE     "group\IDI_PLANB_TJ.ico"
IDI_PLANB_TK               ICON    DISCARDABLE     "group\IDI_PLANB_TK.ico"
IDI_PLANB_TL               ICON    DISCARDABLE     "group\IDI_PLANB_TL.ico"
IDI_PLANB_TM               ICON    DISCARDABLE     "group\IDI_PLANB_TM.ico"
IDI_PLANB_TN               ICON    DISCARDABLE     "group\IDI_PLANB_TN.ico"
IDI_PLANB_TO               ICON    DISCARDABLE     "group\IDI_PLANB_TO.ico"
IDI_PLANB_TR               ICON    DISCARDABLE     "group\IDI_PLANB_TR.ico"
IDI_PLANB_TT               ICON    DISCARDABLE     "group\IDI_PLANB_TT.ico"
IDI_PLANB_TV               ICON    DISCARDABLE     "group\IDI_PLANB_TV.ico"
IDI_PLANB_TW               ICON    DISCARDABLE     "group\IDI_PLANB_TW.ico"
IDI_PLANB_TZ               ICON    DISCARDABLE     "group\IDI_PLANB_TZ.ico"
IDI_PLANB_UA               ICON    DISCARDABLE     "group\IDI_PLANB_UA.ico"
IDI_PLANB_UG               ICON    DISCARDABLE     "group\IDI_PLANB_UG.ico"
IDI_PLANB_UM               ICON    DISCARDABLE     "group\IDI_PLANB_UM.ico"
IDI_PLANB_UN               ICON    DISCARDABLE     "group\IDI_PLANB_UN.ico"
IDI_PLANB_US               ICON    DISCARDABLE     "group\IDI_PLANB_US.ico"
IDI_PLANB_UY               ICON    DISCARDABLE     "group\IDI_PLANB_UY.ico"
IDI_PLANB_UZ               ICON    DISCARDABLE     "group\IDI_PLANB_UZ.ico"
IDI_PLANB_VA               ICON    DISCARDABLE     "group\IDI_PLANB_VA.ico"
IDI_PLANB_VC               ICON    DISCARDABLE     "group\IDI_PLANB_VC.ico"
IDI_PLANB_VE               ICON    DISCARDABLE     "group\IDI_PLANB_VE.ico"
IDI_PLANB_VG               ICON    DISCARDABLE     "group\IDI_PLANB_VG.ico"
IDI_PLANB_VI               ICON    DISCARDABLE     "group\IDI_PLANB_VI.ico"
IDI_PLANB_VN               ICON    DISCARDABLE     "group\IDI_PLANB_VN.ico"
IDI_PLANC_ET               ICON    DISCARDABLE     "group\IDI_PLANC_ET.ico"
IDI_PLANC_EU               ICON    DISCARDABLE     "group\IDI_PLANC_EU.ico"
IDI_PLANC_FI               ICON    DISCARDABLE     "group\IDI_PLANC_FI.ico"
IDI_PLANC_FJ               ICON    DISCARDABLE     "group\IDI_PLANC_FJ.ico"
IDI_PLANC_FK               ICON    DISCARDABLE     "group\IDI_PLANC_FK.ico"
IDI_PLANC_FM               ICON    DISCARDABLE     "group\IDI_PLANC_FM.ico"
IDI_PLANC_FO               ICON    DISCARDABLE     "group\IDI_PLANC_FO.ico"
IDI_PLANC_FR               ICON    DISCARDABLE     "group\IDI_PLANC_FR.ico"
IDI_PLANC_GA               ICON    DISCARDABLE     "group\IDI_PLANC_GA.ico"
IDI_PLANC_GB               ICON    DISCARDABLE     "group\IDI_PLANC_GB.ico"
IDI_PLANC_GB_ENG               ICON    DISCARDABLE     "group\IDI_PLANC_GB_ENG.ico"
IDI_PLANC_GB_NIR               ICON    DISCARDABLE     "group\IDI_PLANC_GB_NIR.ico"
IDI_PLANC_GB_SCT               ICON    DISCARDABLE     "group\IDI_PLANC_GB_SCT.ico"
IDI_PLANC_GB_WLS               ICON    DISCARDABLE     "group\IDI_PLANC_GB_WLS.ico"
IDI_PLANC_GD               ICON    DISCARDABLE     "group\IDI_PLANC_GD.ico"
IDI_PLANC_GE               ICON    DISCARDABLE     "group\IDI_PLANC_GE.ico"
IDI_PLANC_GF               ICON    DISCARDABLE     "group\IDI_PLANC_GF.ico"
IDI_PLANC_GG               ICON    DISCARDABLE     "group\IDI_PLANC_GG.ico"
IDI_PLANC_GH               ICON    DISCARDABLE     "group\IDI_PLANC_GH.ico"
IDI_PLANC_GI               ICON    DISCARDABLE     "group\IDI_PLANC_GI.ico"
IDI_PLANC_GL               ICON    DISCARDABLE     "group\IDI_PLANC_GL.ico"
IDI_PLANC_GM               ICON    DISCARDABLE     "group\IDI_PLANC_GM.ico"
IDI_PLANC_GN               ICON    DISCARDABLE     "group\IDI_PLANC_GN.ico"
IDI_PLANC_GP               ICON    DISCARDABLE     "group\IDI_PLANC_GP.ico"
IDI_PLANC_GQ               ICON    DISCARDABLE     "group\IDI_PLANC_GQ.ico"
IDI_PLANC_GR               ICON    DISCARDABLE     "group\IDI_PLANC_GR.ico"
IDI_PLANC_GS               ICON    DISCARDABLE     "group\IDI_PLANC_GS.ico"
IDI_PLANC_GT               ICON    DISCARDABLE     "group\IDI_PLANC_GT.ico"
IDI_PLANC_GU               ICON    DISCARDABLE     "group\IDI_PLANC_GU.ico"
IDI_PLANC_GW               ICON    DISCARDABLE     "group\IDI_PLANC_GW.ico"
IDI_PLANC_GY               ICON    DISCARDABLE     "group\IDI_PLANC_GY.ico"
IDI_PLANC_HK               ICON    DISCARDABLE     "group\IDI_PLANC_HK.ico"
IDI_PLANC_HM               ICON    DISCARDABLE     "group\IDI_PLANC_HM.ico"
IDI_PLANC_HN               ICON    DISCARDABLE     "group\IDI_PLANC_HN.ico"
IDI_PLANC_HR               ICON    DISCARDABLE     "group\IDI_PLANC_HR.ico"
IDI_PLANC_HT               ICON    DISCARDABLE     "group\IDI_PLANC_HT.ico"
IDI_PLANC_HU               ICON    DISCARDABLE     "group\IDI_PLANC_HU.ico"
IDI_PLANC_IC               ICON    DISCARDABLE     "group\IDI_PLANC_IC.ico"
IDI_PLANC_ID               ICON    DISCARDABLE     "group\IDI_PLANC_ID.ico"
IDI_PLANC_IE               ICON    DISCARDABLE     "group\IDI_PLANC_IE.ico"
IDI_PLANC_IL               ICON    DISCARDABLE     "group\IDI_PLANC_IL.ico"
IDI_PLANC_IM               ICON    DISCARDABLE     "group\IDI_PLANC_IM.ico"
IDI_PLANC_IN               ICON    DISCARDABLE     "group\IDI_PLANC_IN.ico"
IDI_PLANC_IO               ICON    DISCARDABLE     "group\IDI_PLANC_IO.ico"
IDI_PLANC_IQ               ICON    DISCARDABLE     "group\IDI_PLANC_IQ.ico"
IDI_PLANC_IR               ICON    DISCARDABLE     "group\IDI_PLANC_IR.ico"
IDI_PLANC_IS               ICON    DISCARDABLE     "group\IDI_PLANC_IS.ico"
IDI_PLANC_IT               ICON    DISCARDABLE     "group\IDI_PLANC_IT.ico"
IDI_PLANC_JE               ICON    DISCARDABLE     "group\IDI_PLANC_JE.ico"
IDI_PLANC_JM               ICON    DISCARDABLE     "group\IDI_PLANC_JM.ico"
IDI_PLANC_JO               ICON    DISCARDABLE     "group\IDI_PLANC_JO.ico"
IDI_PLANC_JP               ICON    DISCARDABLE     "group\IDI_PLANC_JP.ico"
IDI_PLANC_KE               ICON    DISCARDABLE     "group\IDI_PLANC_KE.ico"
IDI_PLANC_KG               ICON    DISCARDABLE     "group\IDI_PLANC_KG.ico"
IDI_PLANC_KH               ICON    DISCARDABLE     "group\IDI_PLANC_KH.ico"
IDI_PLANC_KI               ICON    DISCARDABLE     "group\IDI_PLANC_KI.ico"
IDI_PLANC_KM               ICON    DISCARDABLE     "group\IDI_PLANC_KM.ico"
IDI_PLANC_KN               ICON    DISCARDABLE     "group\IDI_PLANC_KN.ico"
IDI_PLANC_KP               ICON    DISCARDABLE     "group\IDI_PLANC_KP.ico"
IDI_PLANC_KR               ICON    DISCARDABLE     "group\IDI_PLANC_KR.ico"
IDI_PLANC_KW               ICON    DISCARDABLE     "group\IDI_PLANC_KW.ico"
IDI_PLANC_KY               ICON    DISCARDABLE     "group\IDI_PLANC_KY.ico"
IDI_PLANC_KZ               ICON    DISCARDABLE     "group\IDI_PLANC_KZ.ico"
IDI_PLANC_LA               ICON    DISCARDABLE     "group\IDI_PLANC_LA.ico"
IDI_PLANC_LB               ICON    DISCARDABLE     "group\IDI_PLANC_LB.ico"
IDI_PLANC_LC               ICON    DISCARDABLE     "group\IDI_PLANC_LC.ico"
IDI_PLANC_LI               ICON    DISCARDABLE     "group\IDI_PLANC_LI.ico"
IDI_PLANC_LK               ICON    DISCARDABLE     "group\IDI_PLANC_LK.ico"
IDI_PLANC_LR               ICON    DISCARDABLE     "group\IDI_PLANC_LR.ico"
IDI_PLANC_LS               ICON    DISCARDABLE     "group\IDI_PLANC_LS.ico"
IDI_PLANC_LT               ICON    DISCARDABLE     "group\IDI_PLANC_LT.ico"
IDI_PLANC_LU               ICON    DISCARDABLE     "group\IDI_PLANC_LU.ico"
IDI_PLANC_LV               ICON    DISCARDABLE     "group\IDI_PLANC_LV.ico"
IDI_PLANC_LY               ICON    DISCARDABLE     "group\IDI_PLANC_LY.ico"
IDI_PLANC_MA               ICON    DISCARDABLE     "group\IDI_PLANC_MA.ico"
IDI_PLANC_MC               ICON    DISCARDABLE     "group\IDI_PLANC_MC.ico"
IDI_PLANC_MD               ICON    DISCARDABLE     "group\IDI_PLANC_MD.ico"
IDI_PLANC_ME               ICON    DISCARDABLE     "group\IDI_PLANC_ME.ico"
IDI_PLANC_MF               ICON    DISCARDABLE     "group\IDI_PLANC_MF.ico"
IDI_PLANC_MG               ICON    DISCARDABLE     "group\IDI_PLANC_MG.ico"
IDI_PLANC_MH               ICON    DISCARDABLE     "group\IDI_PLANC_MH.ico"
IDI_VU               ICON    DISCARDABLE     "group\IDI_VU.ico"
IDI_WF               ICON    DISCARDABLE     "group\IDI_WF.ico"
IDI_WS               ICON    DISCARDABLE     "group\IDI_WS.ico"
IDI_XK               ICON    DISCARDABLE     "group\IDI_XK.ico"
IDI_XX               ICON    DISCARDABLE     "group\IDI_XX.ico"
IDI_YE               ICON    DISCARDABLE     "group\IDI_YE.ico"
IDI_YT               ICON    DISCARDABLE     "group\IDI_YT.ico"
IDI_ZA               ICON    DISCARDABLE     "group\IDI_ZA.ico"
IDI_ZM               ICON    DISCARDABLE     "group\IDI_ZM.ico"
IDI_ZW               ICON    DISCARDABLE     "group\IDI_ZW.ico"
#endif 
#ifndef APSTUDIO_INVOKED

#endif
